<div style="padding: 4px">
  <form>
    <div style="padding: 0.25rem">
      <div class="input-form">Device Name</div>
      <div>
        <app-input-box
          [(value)]="this.inpuObj.device_name"
          (valueChange)="updateDeviceName('device_name', this.inpuObj.device_name)"
        ></app-input-box>
      </div>
    </div>

    <div style="padding: 0.25rem">
      <div class="input-form">Capacitance (uF)</div>
      <div>
        <app-input-box
          [(value)]="this.inpuObj.capacitor_value"
          (valueChange)="updateDeviceName('capacitor_value', this.inpuObj.capacitor_value)"
        ></app-input-box>
      </div>
    </div>

    <div style="padding: 0.25rem">
      <div class="input-form">Initial Voltage (on Reset)</div>
      <div>
        <app-input-box
          [(value)]="this.inpuObj.capacitor_init_voltage"
          (valueChange)="updateDeviceName('capacitor_init_voltage', this.inpuObj.capacitor_init_voltage)"
        ></app-input-box>
      </div>
    </div>
  </form>
</div>
