$color-black-p:#232425;
$color-black-s:#1C1E23;
$color-black-p1:#303236;
$color-gray-p:#CFCFCF;
$color-gray-s:#9A9A9A;

$font-family-p:"Roboto";
$font-family-s:"Roboto";

$selected-color: rgba(24, 24, 249, 0.722);


